/* From Sofronie Cristian: https://roamresearch.slack.com/archives/CMZMS7FLJ/p1642373182007800*/
/* Fullscreen */
#rm-modal-portal .rm-search-path {
  height: 98vh !important;
  width: 100vw !important;
  max-height: none !important;
}

#rm-modal-portal > div > div > div.bp3-dialog-container.bp3-overlay-content {
  position: relative !important;
  top: -2vh !important;
}

#rm-modal-portal .bp3-overlay-scroll-container {
  max-height: none !important;
  overflow: hidden !important;
}

/* Disable transitions */
* {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
}

/* Make block text wrap */
.rm-search-path-results .bp3-menu-item > div {
  inline-size: 100%;
}
