/* Status */
$statuses: (
  'Enqueued': --enqueued-bg,
  'InProgress': --in-progress-bg,
  'Completed': --completed-bg,
  'OnHold': --on-hold-bg,
  'Dropped': --dropped-bg,
  'Outlining': --outlining-bg,
  'FleshingOut': --fleshing-out-bg,
  'Drafting': --drafting-bg,
  'Editing': --editing-bg,
);

$statusIcons: (
  'Enqueued': '⚫',
  'InProgress': '🟠',
  'Completed': '🟢',
  'OnHold': '🔵',
  'Dropped': '🔴',
  'Outlining': '🟦',
  'FleshingOut': '🟣',
  'Drafting': '🟠',
  'Editing': '🟡',
);

:root {
  --status-bg: var(--default-bg);
  --enqueued-bg: rgba(0, 0, 0, 0.5);
  --in-progress-bg: #956315;
  --completed-bg: #379529;
  --on-hold-bg: #37a5c8;
  --dropped-bg: #951515;
  --outlining-bg: #157695;
  --drafting-bg: #956315;
  --fleshing-out-bg: #681595;
  --editing-bg: #829515;
}

$statusBlockTypes: 📋, 📜, 📺, 🎬, 🎥, 📄, 🔊, 🦚;

@each $type in $statusBlockTypes {
  span[data-link-title^='[[#{$type}]]'],
  span[data-tag^='[[#{$type}]]'] {
    background: var(--status-bg);
  }
  span[data-link-title^='[[#{$type}]]']:after,
  span[data-tag^='[[#{$type}]]']:after {
    border-left-color: var(--status-bg);
  }
}

/*
* ------------------
* Status
* ------------------
*/
@each $status, $color in $statuses {
  /*
  Block
  */
  span[data-link-title='#{$status}'],
  span[data-tag='#{$status}'] {
    display: inline-block !important;
    visibility: hidden;
    margin-right: -45px;
  }
  div.rm-block__input span span[data-link-title='#{$status}']:before,
  div.rm-block__input span span[data-tag='#{$status}']:before {
    visibility: visible;
    content: '#{map-get($statusIcons, $status)}';
    position: absolute;
    margin-left: 10px;
  }
  /*
  Page
  */
  span[data-link-title='#{$status}'],
  span[data-tag='#{$status}'] {
    display: none;
  }
  span[data-link-title*='[[#{$status}]]'],
  span[data-tag*='[[#{$status}]]'] {
    --status-bg: var(#{$color});
  }
  span[data-link-title='#{$status}'],
  span[data-tag='#{$status}'] {
    --default-bg: var(#{$color});
    color: #fff !important;
  }
}
