.roam-article
  > div
  > div:not(.rm-block-children)
  > .roam-block-container
  > .rm-block-main {
  position: sticky;
  top: 45px;
  z-index: 15;
  background: #323232;
  padding-top: 4px;
  border: 2px transparent;
  border-radius: 5px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}

.rm-sidebar-outline
  > div:not(.rm-block-children)
  > .roam-block-container
  > .rm-block-main {
  position: sticky;
  top: -45px;
  z-index: 15;
  background: #323232;
  padding-top: 4px;
  border: 2px transparent;
  border-radius: 5px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}
