@use './core.scss';

/* GOOGLE FONTS */
// @import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* VARIABLES */
:root {
  --page-width: 616px;

  // --header-font: 'Oxanium', 'Inter', sans-serif;
  --header-font: inherit;
  // --body-font: 'Ubuntu', 'Inter', sans-serif;
  --body-font: inherit;

  --bg-color: #000000;
  --page-color: rgba(44, 44, 44, 0.95);

  --text-color: #ffffff;
  --icon-color: rgb(102, 102, 102);
  --bullet-color: rgba(255, 255, 255, 0.3);

  --page-shadow: 0px 8px 14px rgba(0, 0, 0, 0.25);

  --color-primary: 47, 155, 249;
  --color-primary-contrast: #ffffff;
  --color-secondary: 228, 78, 244;

  --color-secondary-contrast: #ffffff;
}

.roam-main div,
#right-sidebar div,
.roam-main textarea,
#right-sidebar textarea,
.roam-main a #right-sidebar a {
  color: #fff;
}

/* CHANGE COLOURS IN CANVAS */
canvas[data-id='layer2-node'] {
  filter: invert(1) contrast(1.1) hue-rotate(180deg) saturate(2);
}

.rm-topbar {
  background: black;
}

.rm-inline-references {
  background-color: var(--bg-color);
}

/*
My custom additions
*/

/* Fix Roam JS/CSS message */
.rm-roam-js,
.rm-roam-css {
  background: var(--bg-color);
}

/* Trying to fix linkedRef count */
.bp3-button:not([class*='bp3-intent-']) {
  color: var(--icon-color) !important;
}

.block-highlight-yellow {
  background-color: var(--bg-color);
}

.rm-ref-page-view-title a {
  color: var(--text-color);
}

.bp3-text-overflow-ellipsis {
  color: var(--text-color);
}

/* Quick Capture Modal */
.rm-quick-capture-sync-modal {
  background: var(--bg-color);
}
#quick-capture-history li,
#quick-capture-history b {
  color: var(--text-color);
}

/* Fix right triangle on linkedRef path preview */
.rm-zoom .parent-path-wrapper {
  padding-right: 15px;
}

.rm-graph-dropdown .bp3-menu-item {
  color: var(--text-color);
}

.bp3-toast-message {
  color: var(--text-color);
}

.bp3-intent-success {
  color: var(--text-color) !important;
}

/* Fixes strange things that'd happpen to right
   triangle when indented under an H1 */
.roam-block {
  min-height: 1.5em !important;
}

.rm-bq {
  background-color: var(--bg-color);
}

/* Block references */
.rm-block-ref {
  border-bottom: none;
  font-size: 1em;
  padding: 4px;
  color: #8088b5;
}
.rm-block-ref:hover {
  background-color: #697098;
  color: #05365e;
  cursor: pointer;
}

/* Inputs (roam/render default) */
input {
  background: var(--bg-color);
}

/* For block reference backlinks (shift click), get rid of inline styling rgb(225, 232, 237) */
.rm-sidebar div {
  background-color: inherit !important;
}
